@model ABCRetailPOC.Models.Profile ;

<h2>Edit</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="PartitionKey" />
    <input type="hidden" asp-for="RowKey" />

    <div class="form-group">
        <label asp-for="UserName" class="control-label"></label>
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Address" class="control-label"></label>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CustomerNumber" class="control-label"></label>
        <input asp-for="CustomerNumber" class="form-control" />
        <span asp-validation-for="CustomerNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</form>
